.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  @import url('https://fonts.cdnfonts.com/css/miama');
  
  
  /* Special styels */
  body{
      color: white;
      background-color: rgb(0, 0, 0);
  }
  *{
      margin: 2%;
  }
  
  .all-p{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color:rgba(255, 255, 255, 0.5);
  }
  .box-p{
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color:rgba(255, 255, 255, 0.5);
  }
  
  /* Nav bar */
  #section-nav{
      width: 1355px;
      height: 715px;
  
  }
  
  .nav-section{
      display: flex;
      justify-content:space-between;
      width: 1060px;
      height: 46px;
      top:57px;
      
      
  }
  
  .head{
      color:#E6533C;
      font-size: 36px;
      font-weight:800px;
      font-style: italic;
   
   }
  
  
  .content-nav{
      justify-content: space-evenly;
      gap: 30px;    
      font-size: 18px;
      display: flex;
      border-collapse: 2rem;
      font-weight: 400;
      color: rgb(255, 255, 255);
  
  }
  
  .item{
      background-color:rgb(230, 83, 60);
      width: 52px;
      height: 21px;
      border: 8px 20px;
      padding: 8px 20px 8px 20px;
      border-radius: 10rem;
      font-size: 18px;
      font-weight: 600px;
  
  }
  
  /* Banar styels */
  
  .banar{
      text-align: left;
      background-color: rgba(153, 153, 153, 0.029);
      height: 25%;
      margin-top: 5px;
      display: grid;
      grid-template-columns:1fr 0.5fr;
      width: 1044px;
      height: 715px;
  }
  
  .btn-item{
      display: flex;
      height: 54px;
      width: 462;
      top: 385px;
  }
  
  .btn-primry{
      background-color:rgb(230, 83, 60);
      padding: 10px 10px;
      width: 50%;
      color: white;
      border-radius: 2rem;
      text-align: center;
      border: none;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 600px;
  }
  
  
  .btn{
      padding: 10px ;
      width:50%;
      margin-top:5px;
      margin-bottom: 5px;
      color: white;
      border-radius: 2rem;
      background-color: rgba(0, 0, 0, 0.896);
      font-size: 18px;
      font-weight: 600px;
  }
  
  .banar-container{
     width: 520px;
     height: 281px;
     
  }
  .banar-head{
      font-size: 78px;
      font-weight:900px;
      text-align: left;
      color: rgb(255, 255, 255);
  
  }
  .span{
      font-family: 'Miama', sans-serif;
      font-size: 78px;
      font-weight: 900px;
  
      
  }
  .banar-img{
      background-image: url(../images/Images\ 2.png);
      display: flex;
      background-repeat: no-repeat;
      display:inline;
      width: 100%;
      height: 580px;
  }
  .banar-item-1{
      margin-left:200px;
      margin-top: 10rem;
      background-color:rgba(255, 255, 255, 0.1);  ;
      backdrop-filter: blur(20);
      padding: 20px 20px;
      border-radius: 10px;
      box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 150px;
      height:70px;
  }
  .banar-item-1 h2{
      font-size: 40px;
      font-weight: 900px;
  }
  
  .banar-item-2{
      margin-top: 45%;
      margin-right: 40%;
      background-color:rgba(255, 255, 255, 0.1);  ;
      backdrop-filter: blur(20);
      padding: 5px 5px;
      border-radius: 10px;
      box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      
      
  }
  
  .banar-item-2 h2{
      font-size: 24px;
      font-weight: 900px;
  }
  
  
  /* main styels */
  
  /* section 1 */
  .section-1{
      width: 1044px;
      height: 451px;
      top: 815px;
      left: 200px;
  
  }
  .frist-item{
      width: 671px;
      height: 119px;
      text-align:center;
      justify-content: center; 
      margin-left: 10rem;
  }
  .frist-item h1{
      font-size:48px;
      font-weight: 900px;
  }
  .sec-p{
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3px;
      color:rgba(255, 255, 255, 0.5);
  }
  
  .main-parent{
      display: flex;
      font-size: 18px;
      font-weight: 600px;
  }
  
  .cyrcle-shape{
      border-radius: 10rem;
  }
  
  /* main section 2  */
  .img-sec2{
      height: 312px;
      width: 366px;
      border-radius:18px;
      position:relative;
      padding: 10px 0px;
  }
  .run-container{
      display: flex;
      
      
  }
  .run-section{
      background-color: rgb(34, 34, 34);
      width: 1060px;
      height: 371px;
      margin-top: 101px;
      justify-content:space-around;
      border-radius: 18px;
  
  }
  .run-item h2{
      font-weight: 900px;
      font-size: 48px;
      margin-bottom: 18px;
      
  }
  .run-item p{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .run-item button{
      margin-top: 20px;
  }
  .run-item{
      margin-right: 20%;
      line-gap-override: 20rem;
  }
  
  /* BMI Clalulator */
  .chellange{
      width: 1440px;
      height: 590px;
      background-color:#222222;
      margin:none;
      
      
  }
  .chelang-sec{
      gap:175px ;
      display: flex;
  }
  
  .Calculator-part{
      height: 220px;
      width: 310px;
      
  
  }
  .calculator-head{
      padding-top: 90px;
      
  }
  .BMI{
      margin-top: 100px;
      width: 671px;
      height: 120px;
      text-align: center;
      justify-content: center;
      margin-left: 20%;
  
  }
  
  .table tr th{
      text-align: left;
  }
  .table tr td{
      color:#FFFFFF;
  }
  .table{
      height: 220px;
      width: 320px;
      margin-top: 30px;
  }
  
  
  .Calculate-BMI{
      text-align: left;
      padding-top:90px ;
      width: 577px;
      height:376px;
      
  }
  .Calculate-BMI h2{
      font-size: 28px;
      font-weight: 900px;
      color: rgb(255, 255, 255);
      padding-left: 20px;
  }
  .Calculate-BMI p{
      font-size: 14px;
      font-weight: 400px;
      color: rgba(255, 255, 255, 0.5);
      width: 577px;
      height: 48px;
      padding-left: 20px;
  }
  
  .text-1{
      height: 48px;
      width: 282px;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 16px;
      color:rgba(255, 255, 255, 0.6);
      font-weight: 400px;
      border: none;
      padding-left: 10px;
      border-radius: 5px;
  }
  .label-1{
      display: flex;
      justify-content:space-evenly;    
  }
  .text-2{
      height: 48px;
      width: 515px;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 16px;
      color:rgba(255, 255, 255, 0.6);
      font-weight: 400px;
      border: none;
      padding-left: 10px;
      border-radius: 5px;
  }
  
  /* Section-3  */
  .section-3{
      margin-top: 150px;
  }
  .sec3-title{
      text-align: center;
      justify-content: center;
      height: 48px;
      width: 671px;
      margin-left: 20%;
  }
  .sec3-h1{
      font-weight: 900px;
      font-size: 48px;
  }
  
  
  .trainer-img{    
      height: 605px;
      width: 1060px;
      padding: 20px 20px 20px 20px;
      margin-top: 120px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      background-color: rgba(255, 255, 255, 0.1);
  }
  .img-team{
      height: 272px;
      width: 326px;
      border-radius: 18px;
      position: relative;
      
  }
  
  
  
  
  /* Footer here */
  .footer-section{
      background-color: rgba(255, 255, 255, 0.1);
      width: 1440px;
      height: 490px;
  }
  .footer-container{
      display: flex;
      margin-top: 130px;
       
  }
  .footer-item{
      width: 442px;
      height: 175px;
      padding-top:70px;
     
  }
  
  .footer-item h1{
      color:#E6533C;
      font-size: 78px;
      font-weight:900px;
      font-style: italic;
  }
  .footer-item p{
      font-size: 14px;
      font-weight: 400px;
      letter-spacing: 0.3px;
      color: rgba(255, 255, 255, 0.5);
  }
  .item-1{
      width: 182px;
      height: 245px;
      padding-left: 102px;
      padding-top: 70px;
  }
  .item-1 h3{
      font-size: 32px;
      font-weight: 700px;
      color: rgb(255, 255, 255);
      width: 181px;
  }
  .item-1 p{
      font-size:23px;
      font-weight:400px;
      color:rgba(255, 255, 255, 0.5);
  }
  /* Horigentally line */
  .line{
      text-align: center;
      width: 1080px;
      padding-left: 198px;
  
  }
  
  .line p{
      Font-weight: 400;
      Font-size: 20px;
      Letter-spacing: 0.3px;
      color: rgba(255, 255, 255, 0.5);
  }